<app-header></app-header>
<div class="container jumbotron bg-white mb-0">
  <h3 class="display-4">Feedback</h3>  
  <form class="bg-light p-4">
    <legend>Submit Feedback</legend>
    <div class="form-group">
        <label class="col-form-label" for="feedBackName">Name</label>
        <input type="text" class="form-control" id="feedBackName" placeholder="">
    </div>
    <div class="form-group">
      <label class="col-form-label" for="feedBackResidence">Residence Hall</label>
      <input type="text" class="form-control" id="feedBackResidence" placeholder="">            
    </div>
    <div class="form-group">
        <label class="col-form-label" for="feedBackRa">RA on call</label>
        <input type="text" class="form-control" id="feedBackRa" placeholder="">            
      </div>
    <div class="form-group">
      <label for="feedBackComments">Comments</label>
      <textarea class="form-control" id="feedBackComments" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-primary border-0">Submit</button>
  </form>
</div>