.display-4 {
    font-size:2em; 
}
.btn-primary {
    background-color:#01BAEF;
}
.img-thumbnail {
    opacity:0.2;
}
.input-group-addon {
    background-color:#FBFBFF;
    font-size: .9em;
}
input.form-control {
    font-size: .9em;
}
.lead {
    font-size: 1em;
}
