<app-header></app-header>
<div class="view">
  <div class="container">
      <div class="text-center size-normalizer">
        <div class="vertical-center">
            <div class="input-center">
  
                <h3>Sign-Up</h3>
                <br>
                
                
                <div class="card-block">
                    <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">Email</span>
                    <input type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon1" required pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$">
                </div>
                <br>
        
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">First name</span>
                    <input type="text" class="form-control" placeholder="First name" aria-describedby="sizing-addon1" name="firstname" required>
                </div>
                <br/>
  
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">Last name</span>
                    <input type="text" class="form-control" placeholder="Last name" aria-describedby="sizing-addon1" name="firstname" required>
                </div>
                <br/>
  
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">Phone Number</span>
                    <input type="text" class="form-control" placeholder="Ex. 555-555-555" aria-describedby="sizing-addon1" name="firstname" required>
                </div>
                <br/>
  
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">Room Number</span>
                    <input type="text" class="form-control" placeholder="251" aria-describedby="sizing-addon1" name="firstname" required>
                </div>
                <br/>
  
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">Password</span>
                    <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1"  name="password" required minlength=7>
                </div>
                <br>
  
                <div class="input-group">
                  <span class="input-group-addon" id="sizing-addon1">Password</span>
                  <input type="password" class="form-control" placeholder="Confirm Password" aria-describedby="sizing-addon1"  name="password" required minlength=7>
                </div>
                <br>
                <br>
  
                <h4>Emergency Contact Information:</h4>
                <br>
  
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">Full Name</span>
                    <input type="text" class="form-control" placeholder="Johnathan Tiberius Appleseed" aria-describedby="sizing-addon1" name="firstname" required>
                </div>
                <br/>
  
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">Number</span>
                    <input type="text" class="form-control" placeholder="Ex. 555-555-555" aria-describedby="sizing-addon1" name="firstname" required>
                </div>
                <br/>
  
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">Relation</span>
                    <input type="text" class="form-control" placeholder="Ex. Father" aria-describedby="sizing-addon1" name="firstname" required>
                </div>
                <br/>
  
                
  
                <a href="#" class="btn btn-primary">Sign Up</a>
  
                <br>
                <br>
              
            </div>
              
          </div>
            </div>
            
          
        
  </div>
    
    
</div>
<app-footer></app-footer>